<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= communityUser.username %>'s Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome To <%= communityUser.username %>'s Pantry</h1>
    <% if (communityUser.pantry.length === 0) { %>
      <p>There are no items in this pantry.</p>     
    <% } else { %>
    <ul>
      <% communityUser.pantry.forEach((ele) => { %>
        <li>
            <%= ele.name %>
        </li>     
        <% }) } %>
    </ul>
  </body>
</html>
